.App {
  text-align: center;
}

.sider {
  text-align: center;
  line-height: 120px;
  background-color: #F3F2EC !important;
}

.layout {
  border-radius: 8;
  overflow: 'hidden';
  width: 'calc(50% - 8px)';
  max-width: 'calc(50% - 8px)';
  height: 100vh;
}

.content-style {
  background-color: #E6E5D9;
  padding: 40px;
  text-align: left;
  padding-left: 100px;
}

.book-image {
  height: 400px;
  position: relative;
  left: 25%;
  max-width: 300px;
  max-height: 400px;
}

.image-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.website-title {
  color: #979373 !important;
  font-family: "Goudy Bookletter 1911", serif;
  font-size: 48px !important;
  margin-top: 20px;
  text-align: left;
  padding-left: 50px;
  margin-bottom: 80px !important;
  cursor: pointer;
}
